<div class="container">
    <div class="text-center">
        <h1>Appointments</h1>
    </div>

  <div class="row">
    <div class="col-md-12" >
      <div class="grid-style" >
        <img class="img-thumbnail" src="../../assets/images/profile_placeholder.png">
        <h2>Name: {{firstName}} {{lastName}}</h2>
        <p>EmailId: {{email}}</p>
        <p>Gender: {{gender}}</p>
        <p>Address: {{address}}</p>
        <p>Specialization: {{specialization}}</p>
        <div class="centered"> <button (click)="addAppointment(doctorId)" mat-raised-button  class="btn btn-warning btn-lg ms-2">Create Appointment</button></div>
      </div>
    </div>
  </div>

</div>
