<div class="container">
    <div class="text-center">
        <h1>Appointments</h1>
    </div>

  <div class="row">
    <div class="col-md-12" >
      <div class="grid-style" >
        <h2>Emergency Ambulance: {{emergency_ambulance}} </h2>
        <p>life support ambulance: {{life_support_ambulance}}</p>
        <p>freezing ambulance: {{freezing_ambulance}}</p>
        <p>Schedule: {{schedule}}</p>
        <p>Contact name: {{contact_name}}</p>
        <p>house no: {{house_no}}</p>
        <p>road no: {{road_no}}</p>
        <p>block no: {{block_no}}</p>
        <p>Sector no: {{sector_no}}</p>
        <p>Area: {{area}}</p>
        <p>Address: {{bloodGroup}}</p>
        <p>Additional notes: {{additional_notes}}</p>
      </div>
    </div>
  </div>

</div>
