<div class="container">
    <div class="text-center">
        <h1>Room booking details</h1>
    </div>

  <div class="row">
    <div class="col-md-12" >
      <div class="grid-style" >
        <p>Non AC Ward: {{ac_ward}}</p>
        <p>AC Ward: {{non_ac_ward}}</p>
        <p>Non AC Cabin: {{non_ac_cabin}}</p>
        <p>AC Cabin: {{ac_cabin}}</p>
        <p>CCU: {{ccu_room}}</p>
        <p>ICU: {{icu_room}}</p>
        <p>Schedule: {{schedule}}</p>
        <p>Contact name: {{contact_name}}</p>
        <p>house no: {{house_no}}</p>
        <p>road no: {{road_no}}</p>
        <p>block no: {{block_no}}</p>
        <p>Sector no: {{sector_no}}</p>
        <p>Area: {{area}}</p>
        <p>Additional notes: {{additional_notes}}</p>
      </div>
    </div>
  </div>

</div>
